pre{

 code{
   position: relative;
   user-select: all;
     word-break: break-word;
     white-space: pre-wrap;

   color:#fff;
   span{
     &.property{

     }

     &.string{
       white-space: pre-wrap;
       word-break: break-word;

     }
   }
 }
}