#spyne-plugin-console {

  #console-ui {
    #console-max-min-close {
      position: absolute;
      top: 4px;
      right: 10px;

      ul {
        display: flex;
        list-style-type: none;
        padding: 0;
        margin: 0;
        align-items: center;

        li.ui-option {
          position: relative;
          width: 1.5rem;
          height: 1.5rem;
          margin: 0 .5rem;


          opacity: .5;
          pointer-events: all;
          cursor: pointer;

          svg {
            circle {
              fill: rgba(0, 0, 0, 0);
            }

            rect {
              opacity: .5;
            }

          }

          &:hover {
            opacity: 1;

            svg {
              circle {
              }

              rect {
                opacity: .9;
              }

            }

          }


          &.max {
          }

          &.min-max {

            #contract {
            }
          }

          &.close {
          }

        }
      }
    }

  }

}
