<ul id="console-max-min-close">
    <li class="ui-option close console-btn"
        data-is-console-item="true"
        data-plugin-console-btn-type="minMaxClose"
        data-plugin-console-resize-type="close"
        data-plugin-console-width="360px"
        data-plugin-console-height="40px">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.80863 48.80863">
            <g id="circle">
                <circle class="cls-1" cx="24.40431" cy="24.40431" r="24.40431"/>
            </g>
            <g id="lines">
                <rect id="rect-1" x="21.85864" y="9.64223" width="6.28272" height="30.71553" rx="2.98595" transform="translate(49.38776 -0.61224) rotate(90)"/>
            </g>
        </svg>

    </li>
    <li class="ui-option min-max console-btn"
        data-is-console-item="true"
        data-plugin-console-btn-type="minMaxClose"
        data-plugin-console-resize-type="min"
        data-plugin-console-width="420px"
        data-plugin-console-height="560px">

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.80863 48.80863">
            <g id="circle">
                <circle class="cls-1" cx="24.40431" cy="24.40431" r="24.40431"/>
            </g>
            <g id="lines">
                <rect id="rect-2" x="21.2464" y="9.03" width="6.28272" height="30.71553" rx="2.98595"/>
                <rect id="rect-1" x="21.85864" y="9.64223" width="6.28272" height="30.71553" rx="2.98595" transform="translate(49.38776 -0.61224) rotate(90)"/>
            </g>
        </svg>



    </li>

    <li class="ui-option expand console-btn"
        data-is-console-item="true"
        data-plugin-console-btn-type="minMaxClose"
        data-plugin-console-resize-type="max"
        data-plugin-console-width="60vw"
        data-plugin-console-height="80vh">


        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48.80863 48.80863">
            <defs>
                <style>
                    .cls-1 {
                        fill: #ddd9d9;
                    }
                </style>
            </defs>
            <g id="circle">
                <circle class="cls-1" cx="24.40431" cy="24.40431" r="24.40431"/>
            </g>
            <g id="lines">
                <path d="M21.57794,8.99548H10.64221a1,1,0,0,0-1,1V21.71362a1,1,0,0,0,1,1h1.42444a1,1,0,0,0,1-1V12.41986h8.51129a1,1,0,0,0,1-1V9.99548A1,1,0,0,0,21.57794,8.99548Z" transform="translate(-0.61224 -0.61224)"/>
                <path d="M27.88988,8.99548H38.82561a1,1,0,0,1,1,1V21.71362a1,1,0,0,1-1,1H37.40117a1,1,0,0,1-1-1V12.41986H27.88988a1,1,0,0,1-1-1V9.99548A1,1,0,0,1,27.88988,8.99548Z" transform="translate(-0.61224 -0.61224)"/>
                <path d="M21.57794,40.71362H10.64221a1,1,0,0,1-1-1V27.99548a1,1,0,0,1,1-1h1.42444a1,1,0,0,1,1,1v9.29377h8.51129a1,1,0,0,1,1,1v1.42437A1,1,0,0,1,21.57794,40.71362Z" transform="translate(-0.61224 -0.61224)"/>
                <path d="M27.88988,40.71362H38.82561a1,1,0,0,0,1-1V27.99548a1,1,0,0,0-1-1H37.40117a1,1,0,0,0-1,1v9.29377H27.88988a1,1,0,0,0-1,1v1.42437A1,1,0,0,0,27.88988,40.71362Z" transform="translate(-0.61224 -0.61224)"/>
            </g>
        </svg>

    </li>
</ul>
