//@import "./node_modules/highlight.js/scss/stackoverflow-dark";
//@import "01-vendors/highlights-themes/solarized-dark";
@use "01-vendors/highlights-themes/an-old-hope";
@use "02-variables/globals";
@use "03-components/ui/scrollbar";
@use "spyne-plugin-console";
@use "03-components/console/spyne-plugin-console-menu";
@use "03-components/console/spyne-plugin-console-code";
@use "03-components/console/console-ui/spyne-plugin-console-ui";
@use "03-components/console/console-ui/spyne-plugin-console-ui-min-max-close";
@use "03-components/console/console-ui/console-ui-drag-handles";
@use "03-components/console/console-ui/console-ui-corners";

body{
  main#spyne-plugin-console{
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:100%;
    max-width: 1920px;
    align-self: center;
    justify-self: center;
    border: 0;
    margin: 0;
    border-left:  1px solid #000;
    border-right: 1px solid #000;
    #dynamic-app-ui{
      position: fixed;
    }
  }



}

